postgres_data/
*.crx
*.pem
client/Shared (Extension)/276.content.bundle.js
client/Shared (Extension)/asset-manifest.json
client/Shared (Extension)/background.js
client/Shared (Extension)/content.bundle.js
client/Shared (Extension)/content.js
client/Shared (Extension)/favicon.ico
client/Shared (Extension)/index.html
client/Shared (Extension)/logo192.png
client/Shared (Extension)/logo512.png
client/Shared (Extension)/manifest.json
client/Shared (Extension)/robots.txt
client/Shared (Extension)/_locales/en/messages.json
client/Shared (Extension)/assets/css/all.min.css
client/Shared (Extension)/assets/css/brands.min.css
client/Shared (Extension)/assets/css/css2.css
client/Shared (Extension)/assets/css/fontawesome.min.css
client/Shared (Extension)/assets/webfonts/fa-brands-400.ttf
client/Shared (Extension)/assets/webfonts/fa-brands-400.woff2
client/Shared (Extension)/assets/webfonts/fa-regular-400.ttf
client/Shared (Extension)/assets/webfonts/fa-regular-400.woff2
client/Shared (Extension)/assets/webfonts/fa-solid-900.ttf
client/Shared (Extension)/assets/webfonts/fa-solid-900.woff2
client/Shared (Extension)/assets/webfonts/fa-v4compatibility.ttf
client/Shared (Extension)/assets/webfonts/fa-v4compatibility.woff2
client/Shared (Extension)/assets/webfonts/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOejbd5zrDAt.woff2
client/Shared (Extension)/images/icon-48.png
client/Shared (Extension)/images/icon-96.png
client/Shared (Extension)/images/icon-128.png
client/Shared (Extension)/images/icon-256.png
client/Shared (Extension)/images/icon-512.png
client/Shared (Extension)/images/toolbar-icon-16.png
client/Shared (Extension)/images/toolbar-icon-32.png
client/Shared (Extension)/static/css/*
client/Shared (Extension)/static/js/main.ccfa53d1.js
client/Shared (Extension)/static/js/main.ccfa53d1.js.map
client/Shared (Extension)/static/js/*
react-app/.env.development
react-app/.env.production
react-app/.env
