postgres_data/
*.crx
*.pem
xcode-client/Shared (Extension)/276.content.bundle.js
xcode-client/Shared (Extension)/asset-manifest.json
xcode-client/Shared (Extension)/background.js
xcode-client/Shared (Extension)/content.bundle.js
xcode-client/Shared (Extension)/content.js
xcode-client/Shared (Extension)/favicon.ico
xcode-client/Shared (Extension)/index.html
xcode-client/Shared (Extension)/logo192.png
xcode-client/Shared (Extension)/logo512.png
xcode-client/Shared (Extension)/manifest.json
xcode-client/Shared (Extension)/robots.txt
xcode-client/Shared (Extension)/_locales/en/messages.json
xcode-client/Shared (Extension)/assets/css/all.min.css
xcode-client/Shared (Extension)/assets/css/brands.min.css
xcode-client/Shared (Extension)/assets/css/css2.css
xcode-client/Shared (Extension)/assets/css/fontawesome.min.css
xcode-client/Shared (Extension)/assets/webfonts/fa-brands-400.ttf
xcode-client/Shared (Extension)/assets/webfonts/fa-brands-400.woff2
xcode-client/Shared (Extension)/assets/webfonts/fa-regular-400.ttf
xcode-client/Shared (Extension)/assets/webfonts/fa-regular-400.woff2
xcode-client/Shared (Extension)/assets/webfonts/fa-solid-900.ttf
xcode-client/Shared (Extension)/assets/webfonts/fa-solid-900.woff2
xcode-client/Shared (Extension)/assets/webfonts/fa-v4compatibility.ttf
xcode-client/Shared (Extension)/assets/webfonts/fa-v4compatibility.woff2
xcode-client/Shared (Extension)/assets/webfonts/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOejbd5zrDAt.woff2
xcode-client/Shared (Extension)/images/icon-48.png
xcode-client/Shared (Extension)/images/icon-96.png
xcode-client/Shared (Extension)/images/icon-128.png
xcode-client/Shared (Extension)/images/icon-256.png
xcode-client/Shared (Extension)/images/icon-512.png
xcode-client/Shared (Extension)/images/toolbar-icon-16.png
xcode-client/Shared (Extension)/images/toolbar-icon-32.png
xcode-client/Shared (Extension)/static/css/*
xcode-client/Shared (Extension)/static/js/main.ccfa53d1.js
xcode-client/Shared (Extension)/static/js/main.ccfa53d1.js.map
xcode-client/Shared (Extension)/static/js/*
react-app/.env.development
react-app/.env.production
react-app/.env
