/*
 <samplecode>
 <abstract>
 Configures the appearance of the extension's popover.
 </abstract>
 </samplecode>
 */
body {
    font-family: system-ui;
    min-width: 220px;
    text-align: center;
}

#title {
    font-size: 30px;
}

#url-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: start;
}

#url-list a {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#url-list span {
    margin-right: 10px;
    text-align: right;
    width: 100px; /* Ajusta este valor según tus necesidades */
}

#url-list div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mr-5 {
    margin-right: 5px;
}

.icons {
    font-size: 20px;
}


@media (min-width: 1280px) {
    body {
        width: 700px;
    }
}

@media (max-width: 414px) {
    #url-list span {
        width: 100px;
    }
}